@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.login__page {
    display: flex;
    padding: 2rem;
}

.login__container {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 1rem;
}

.center {
    text-align: center;
}

.login__page h1{
    color: #000;
    margin: 0;
    text-align: center;
    font-feature-settings: 'calt' off;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
}

.login__page h2{
    color: var(--White-White-700, #A6A6A6);
    margin: 0;
    text-align: center;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 100%; /* 24px */
    letter-spacing: 0.24px;
}

.login__remember_pass{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
}

.login__social{
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.login__page_text{
    color: var(--White-White-800, #A6A6A6);
    text-align: center;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.login__page_text--small{
    font-size: 0.8rem;
    text-decoration: underline;
}

.login__page_footer_container h3{
    color: #000;
    margin: 0;
    text-align: center;
    font-feature-settings: 'calt' off;
    font-family: Outfit;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
}

.login__page_footer_container h4{
    color: var(--Black-Black-200, #4D4D4D);
    margin: 0;
    text-align: center;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.login__page_footer_container{
    display: flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #FDE5A7;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

@media screen and (width > 900px){
    .login__page__container{
        display: flex;
        width: 100vw;
        height: 100vh;
    }

    .login__page_footer_container{
        display: flex;
        flex: 0.4;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FDE5A7;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
        box-shadow: 0px 4px 50px 0px rgba(86, 86, 85, 0.20);
    }

    .login__page_footer_container div{
        padding: 6rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .login__page{
        display: flex;
        flex: 0.6;
    }
}