@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  overflow-x: hidden;
}

.landing_container {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  
}


.landing_container__image1_absolute{
  display: block;
  position: absolute;
  right: -30px;
  bottom: 0;
  width: clamp(120px, 10vw, 180px);
  z-index: 1;
  pointer-events: none;
  rotate: -50deg;
}

.landing_container__image2_absolute{
  display: block;
  position: absolute;
  left: -30px;
  bottom: 50%;
  width: clamp(120px, 10vw, 160px); 
  z-index: 1;
  pointer-events: none;
  rotate: 30deg;
  transform: scaleX(-1);
}

.landing_app_container__image1_absolute, .landing_app_container__image2_absolute{
  display: none;
}

@media screen and (width < 1000px){
  .landing_container__image1_absolute, .landing_container__image2_absolute{
  display: none;
}

.landing_app_container__image1_absolute{
  display: block;
  position: absolute;
  right: -30px;
  bottom: 20%;
  width: clamp(120px, 10vw, 180px);
  z-index: 1;
  pointer-events: none;
  rotate: -50deg;
}

.landing_app_container__image2_absolute{
  display: block;
  position: absolute;
  left: -30px;
  bottom: 70%;
  width: clamp(120px, 10vw, 160px); 
  z-index: 1;
  pointer-events: none;
  rotate: 30deg;
  transform: scaleX(-1);
}
}

@media screen and (width < 500px){
.landing_app_container__image1_absolute, .landing_app_container__image2_absolute{
  display: none;
}
}
.landing_sticky_nav{
  display: none;
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: aliceblue;
  z-index: 10;
}

.landing_hero {
  background-image: url('../../assets/images/HeroImage.png');
  background-size: contain;      
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 80%;
  max-width: 1600px;
  margin: auto;
  aspect-ratio: 16 / 9; 
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  flex-direction: column;
  font-family: Outfit;
  color: white;
  gap: 2rem;
}

.landing_hero__nav_mobile{
  background-image: url('../../assets/images/Logo.png'); 
  background-size: contain;     
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 2rem;
  width: 10rem;
}

.landing_hero__text{
  display: flex;
  max-width: 70rem;
  gap: 1rem;
  flex-direction: column;
  padding-bottom: 2rem;
}

.landing_hero__button{
  text-decoration: none;
}

.landing_hero span{
 font-style: italic;
}

.landing_hero h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 1.16px;
  margin: 0;
  width: 80%;
}

.landing_hero h2 {
  font-size: 1rem;
  width: 70%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.24px;
    margin: 0;
}

.landing_hero__text div{
  width: 70%;
}

.landing_hero__text_button{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

  .carroussel {
   margin-top: 70px;
  }


  .landing_app_info{
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    margin: auto;
  }

  .landing_app_info__image_absolute{
    display: none;
  }

  @media screen and (width > 1000px){

  .landing_app_info__image_absolute { /*Imagen*/
    display: block;
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 120px; 
  z-index: 1;
  pointer-events: none;
}
  }

  .hover_container {
  position: relative;
  width: 400px;
  height: 300px;
  background-color: #111;
  overflow: hidden;
  padding: 2rem;
}

.blur_circle {
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(247, 172, 9, 0.99), transparent 100%);
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(40rem);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.landing_app_premium_container {
  width: 100%;
  height: fit-content;
  position: relative;
}

.landing_app_premium_container__image_absolute{
  display: none;
}

@media screen and (width > 1300px) {

.landing_app_premium_container__image_absolute { /*Imagen*/
  display: block;
  position: absolute;
  left: 120px;
  top: 50%;
  transform: translateY(-10%);
  width: clamp(80px, 12vw, 250px);
  z-index: 1;
  pointer-events: none;

}
}
 @media screen and (1000px < width < 1300px) {
.landing_app_premium_container__image_absolute { /*Imagen*/
  position: absolute;
  display: block;
  left: -30px;
  rotate: 20deg;
  transform: translateY(-10%);
  top: 50%;
  width: clamp(100px, 15vw, 250px);

}
 }

  .landing_app_info h3, .landing_app_details__upper_content h3, .landing_app_details__grid__box h4, .landing_app_premium h3 {
    color: var(--Black-Black-400, #2A2A2A);
  text-align: center;
  font-feature-settings: 'calt' off;
  font-family: Outfit;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 2rem 0;
  }

  .landing_app_details__grid__box h4 {
    font-size: 1.5rem;
    margin: 0;
  }

  .landing_app_details__upper_content h3, .landing_app_details__grid__box h4 {
    text-align: left;
  }

  .landing_app_info h4{
    color: var(--Black-Black-400, #2A2A2A);
  font-feature-settings: 'calt' off;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.24px;
  margin: 0 0 1rem 0;;
  }

  .landing_app_info__content{
    display: flex;
    max-width: 70%;
    margin: auto;
    gap: 1rem;
  }

  .landing_app_info__image1,.landing_app_info__image2  {
  min-width: 18rem;
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/appImage1.png');
}

.landing_app_info__image2  {
  background-image: url('../../assets/images/appImage2.png')
}

.landing_app_info__images {
  display: flex;
  justify-content: center;
  margin: auto;
}

.landing_app_info__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 1rem;
}

.landing_app_info__text p, .landing_app_details__text p, .landing_app_details__grid__box {
  font-family: Outfit;
font-size: 1rem;
font-style: normal;
font-weight: 400;
}

.landing_app_info__text_content {
  margin-bottom: 2rem;
}

.landing_app_info__content__button{
  text-decoration: none;
}

.landing_app_details{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80%;
    margin: auto;
    background: radial-gradient(
  96.64% 96.26% at 50% 50%, 
  rgba(255, 255, 255, 0) 10%, 
  rgb(240, 241, 255) 100%
);
    border-radius: 3rem;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.25);
    margin-block: 10rem 5rem;
    padding: 10rem 15rem;
  }

  .landing_app_details__upper_content{
    display: flex;
    max-width: 1100px;
    gap: 5rem;
  }

  .landing_app_details__text {
    max-width: 30rem;
  }

  .landing_app_details__image {
    min-width: 10rem;
    height: 12rem;
    background-image: url('../../assets/images/(6).png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .landing_app_details__image_mobile{
    display: none;
  }

  .landing_app_details__grid{
    display: flex;
    width: 100%;
    gap: 2rem;
  }

  .landing_app_details__grid__box_column{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
  }

  .landing_app_details__grid__box{
    width: 100%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background: rgba(242, 242, 242, 0.45);
    box-shadow: 0px 0px 10px -2px rgba(127, 127, 127, 0.36);
    gap: 1rem;
  }

  .landing_app_details__grid__box_column--margin-top {
    margin-top: 3rem;
  }

  .landing_app_premium {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 50rem;
    margin: auto;
  }

  .landing_app_premium__plans {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
  }

  .landing_app_img_separator_container{
    width: 100%;
    padding-top: 5rem;
  }

  .landing_app_img_separator{
    min-width: 10rem;
    height: 12rem;
    background-image: url('../../assets/images/(2).png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .landing_app_reviews_container{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80%;
    margin: auto;
    gap: 6rem;
  }

  .landing_app_reviews{
    display: flex;
    height: fit-content;
    gap: 2rem;
    margin: auto;
  }

  .landing_app_reviews__button{
    width: 40%;
    margin: auto;

    text-decoration: none;
  }

.underline {
            text-decoration: underline;
            text-decoration-color: #fcad37; /* Cambia el color aquí */
        }






@media screen and (1300px < width < 1500px){

  .landing_app_info{
      width: 90%;
    }

     .landing_app_info__image1,.landing_app_info__image2  {
  min-width: 14rem;
  height: 26rem;
}

.landing_hero {

  gap: 7rem;
}

}
  



  @media screen and (1000px < width < 1300px){
    .landing_hero h1 {
  font-size: 2rem;
}

.landing_hero h2 {
  font-size: 0.7rem;
}

.landing_hero__text{
  padding-bottom: 1rem;
}

.landing_app_info{
    width: 100%;
  }

  .landing_app_info__text h3, .landing_app_info__text h4{
  font-size: 1.5rem;
}

.landing_app_info__text p{
  font-size: 0.8rem;
}

.landing_app_info__image1,.landing_app_info__image2  {
  min-width: 10rem;
  height: 20rem;
}

.landing_app_details{
    padding: 5rem;
  }


  .landing_app_details{
    padding: 10rem;
    margin-block: 5rem 5rem;
  }

.landing_app_details__grid__box_column--margin-top {
    margin-top: 5rem;
  }

  .landing_hero {


  padding-top: 2rem;
}

  }

  @media screen and (1130px < width < 1300px){

    .landing_hero {

  padding-top: 2rem;
}

  }

   @media screen and (width <= 1000px){

.landing_sticky_nav{
  display: block;
}

    .landing_container {
    width: 100%;
  
}

.landing_sticky_nav {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

.landing_hero {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url('../../assets/images/HeroImageMobile.jpg'); /* Coloca la ruta correcta */
  background-size: cover;      /* Ajusta la imagen para cubrir todo el contenedor */
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Ajusta la altura al 100% de la ventana */
  max-width: 100vw;
  width: 100%;
}

.landing_hero__text{
  align-items: center;
  padding-top: 3rem;
  justify-content: space-between;
  height: 100%;
}

.landing_hero__text_button{
  gap: 2rem;
}

.landing_hero h1 {
    font-size: 2.5rem;
    width: 100%;
}

.landing_hero h2 {
  width: 100%;
}

.landing_hero__text div {
    width: 100%;
}

.landing_app_info{
  width: 100%;
}

.landing_app_info__content {
  flex-direction: column;
}

.landing_app_info__image1,.landing_app_info__image2  {
  min-width: 14rem;
  height: 22rem;
}

.landing_app_info h3, .landing_app_details__upper_content h3, .landing_app_details__grid__box h4, .landing_app_premium h3 {
  font-size: 1.5rem;
  margin: 0 0 1.2rem 0;
  }

  .landing_app_info__text p, .landing_app_details__text p, .landing_app_details__grid__box {
font-size: 0.8rem;
}

.landing_app_details{
    width: 80%;
    padding: 2rem 2.5rem;
    border-radius: 2rem;
    margin-block: 0rem 5rem;
  }

  .landing_app_details__grid{
    flex-direction: column;
  }

  .landing_app_details__image{
    display: none;
  }

  .landing_app_details__image_mobile {
    display: block;
    min-width: 10rem;
    height: 12rem;
    background-image: url('../../assets/images/whyRoomeet.png'); /* Coloca la ruta correcta */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2rem;
  }

  .landing_app_details__grid__box_column{
    width: 100%;
  }


  .landing_app_details__text p {
    display: none;
  }

  .landing_app_details__upper_content{
    display: flex;
    margin: auto;
  }

  .landing_app_details__grid__box_column--margin-top {
    margin-top: 0rem;
  }

  .landing_app_details__grid__box{
    padding: 1rem;
    gap: 0rem;
  }

  .landing_app_reviews{
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .landing_app_premium__plans {
    flex-direction: column;

  }

  .landing_app_reviews__button {
    width: 70%;
}

.landing_app_details__image_mobile {
    display: block;
    min-width: 10rem;
    height: 12rem;
    background-image: url('../../assets/images/(3).png'); /* Coloca la ruta correcta */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }


  .fullscreen_menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
  color: #000;
  font-feature-settings: 'calt' off;
  font-family: Outfit;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  padding: 3rem;

}

.fullscreen_menu ul {
  list-style: none;
  padding: 0;
}

.fullscreen_menu li {
  margin: 5rem 0;
}

.fullscreen_menu Link {
  color: black;
  font-size: 2rem;
}

.fullscreen_menu_links{
  text-decoration: none;
  color: black;
}

.navbar__burger {
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar__burger span {
  display: block;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

/* Animación cuando está abierto */
.navbar__burger.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.navbar__burger.open span:nth-child(2) {
  opacity: 0;
}
.navbar__burger.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}


   }

   @media screen and (width < 500px){
.landing_app_info__image1,.landing_app_info__image2  {
  min-width: 9rem;
  height: 18rem;
}

.landing_app_reviews__button {
    width: 90%;
}

 .landing_app_info__content{
    max-width: 90%;
  }

   }