@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.landing_container {
  width: 80%;
  box-sizing: border-box;
  margin: auto;
}

.landing_hero {
  background-image: url('../../assets/images/HeroImage.png'); /* Coloca la ruta correcta */
  background-size: contain;      /* Ajusta la imagen para cubrir todo el contenedor */
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  aspect-ratio: 16 / 9; /* Mantiene una relación de aspecto de 16:9 */
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  flex-direction: column;
  font-family: Outfit;
  color: white;
  gap: 2rem;
}

.landing_hero__text{
  display: flex;
  width: 100%;
  gap: 0.6rem;
  flex-direction: column;
  padding-bottom: 2rem;
}

.landing_hero span{
 font-style: italic;
}

.landing_hero h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 1.16px;
  margin: 0;
  width: 80%;
}

.landing_hero h2 {
  font-size: 1rem;
  width: 50%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.24px;
    margin: 0;
}

.landing_hero__text div{
  width: 50%;
}

  .carroussel {
   margin-top: 70px;
  }
  
  @media screen and (width < 1300px){
    .landing_hero h1 {
  font-size: 2rem;
}

.landing_hero h2 {
  font-size: 0.7rem;
}

.landing_hero__text{
  padding-bottom: 1rem;
}
  }