@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

.item-to-check {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
}

.checkbox {
  width: 2rem;
  height: 2rem;
  border: 2px solid #999;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, border 0.2s;
}

.checkbox.checked {
  background-color: #f4a000; /* naranja */
  border: none;
}

.checkmark {
  width: 16px;
  height: 16px;
}
