/* Reader Component */
.reader {
.nav_landing_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 2rem
  }
  
  /* Contenedor del logo */
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
  /* Estilos del logo */
  .logo {
    width: 256px;
    height: 71.024px;
    object-fit: contain; /* Asegura que la imagen se ajuste correctamente */
    aspect-ratio: 256 / 71.02;
    background-color: white;
    color: black;
    border-bottom-right-radius: 12px;


  }
  
  .logo_container {
  background-image: url('../../../assets/images/Logo.png');
  width: clamp(8rem, 15vw, 15rem);   /* Se adapta entre 8rem y 20rem */
  aspect-ratio: 4 / 1;               /* Asegura forma del logo horizontal */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

  /* Contenedor de botones */
  .buttons-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center; /* Centra los elementos verticalmente */
    padding-right: 20px;
    
  }
  
  /* Botones sin fondo */
  .contact-button,
  /* Botón "Preguntas frecuentes" */
.faq-button {
    background: none;
    color: var(--Black-Black-500, #202020); /* Color de texto */
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.16px;
    text-align: center;
    border: none;
    cursor: pointer;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    color: white;
    font-size: 1rem;
  }
  
  
  /* Botón "Log in" */
  .login-button {
    background: var(--Black-Black-500, #202020); /* Fondo negro */
    color: var(--White-White-200, #F2F2F2); /* Texto blanco */
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.48px;
    padding: 11px 2rem;
    border-radius: 999px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-left: 9px;
  }
  
  /* Efecto al hacer hover en los botones */
  .contact-button:hover,
  .faq-button:hover {
    text-decoration: underline;
  }
  
  .login-button:hover {
    background: #333333; /* Un poco más oscuro al hacer hover */
  }

  .menu-icon {
    display: none;
  }
  
  /* Media query para pantallas pequeñas (móviles) */
  @media (max-width: 768px) {
    .buttons-container {
      gap: 0;
      flex-direction: column; /* Los botones se apilan en columnas */
      align-items: flex-start; /* Alineación de los botones a la izquierda */
    }
  
    /* Ocultar botones en pantallas pequeñas */
    .contact-button,
    .faq-button,
    .login-button {
      display: none;
    }
  
    /* Mostrar solo el icono del menú en pantallas pequeñas */
    .menu-icon {
      display: block; /* Asegura que el SVG se vea en pantallas pequeñas */
      cursor: pointer;
    }
  }

  @media screen and (1400px < width < 1600px){

    .nav_landing_container {
    padding-top: 1rem
  }
  }
  
  @media screen and (width < 1400px){

    .nav_landing_container {
    padding-top: 0rem
  }
  }

  @media screen and (width < 1000px) {
    .nav_landing_container{
      display: none;
    }
  }