/* Reader Component */
.nav_landing_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 3rem 0 3rem
  }
  
  /* Contenedor del logo */
  .logo_container {
  background-image: url('../../../assets/images/Logo.png');
  width: clamp(8rem, 15vw, 15rem);   /* Se adapta entre 8rem y 20rem */
  aspect-ratio: 4 / 1;               /* Asegura forma del logo horizontal */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

  /* Contenedor de botones */
  .buttons-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center; /* Centra los elementos verticalmente */
    
  }
  
  /* Botones sin fondo */
  .contact-button,
  /* Botón "Preguntas frecuentes" */
.faq-button {
    background: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.16px;
    text-align: center;
    border: none;
    cursor: pointer;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    color: white;
    font-size: 1rem;
  }


  
  
  /* Botón "Log in" */
  .login-button {
    background: var(--Black-Black-500, #202020); /* Fondo negro */
    color: var(--White-White-200, #F2F2F2); /* Texto blanco */
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.48px;
    padding: 11px 2rem;
    border-radius: 999px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .contact-button:hover,
  .faq-button:hover {
    text-decoration: underline;
  }


 .buttons_link{
  text-decoration: none;
 }

 .buttons_link:hover{
  text-decoration: underline;
 }
  
  /* Media query para pantallas pequeñas (móviles) */
  @media (max-width: 768px) {
    .buttons-container {
      gap: 0;
      flex-direction: column; /* Los botones se apilan en columnas */
      align-items: flex-start; /* Alineación de los botones a la izquierda */
    }
  
    /* Ocultar botones en pantallas pequeñas */
    .contact-button,
    .faq-button,
    .login-button {
      display: none;
    }
  
    /* Mostrar solo el icono del menú en pantallas pequeñas */
    .menu-icon {
      display: block; /* Asegura que el SVG se vea en pantallas pequeñas */
      cursor: pointer;
    }
  }

  @media screen and (1400px < width < 1600px){

  }
  

  @media screen and (width < 1000px) {
    .nav_landing_container{
      display: none;
    }
  }