*{
    box-sizing: border-box;
}

.display__chats_page{
    height: 100%;
    display: block;
}

.swipe__screen_container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.blur__container{
    position: absolute;
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1437816897/photo/business-woman-manager-or-human-resources-portrait-for-career-success-company-we-are-hiring.jpg?s=612x612&w=0&k=20&c=tyLvtzutRh22j9GqSGI33Z4HpIwv9vL_MZw_xOE19NQ=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(25px);
    z-index: -1;
}


.ad{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.display_logo{
    display: none;
}

@media screen and (width < 1000px){
    .swipe__screen_container{
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.user_card {
    margin-inline: 1rem;
}

.blur__container{
    display: none;
}

.nav-header{
    display: none;
}

.display_logo{
    display: block;
}
}

