.toggle-container {
    display: flex;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    width: fit-content;
  }
  
  .toggle-button {
    display: flex;
    padding: 12px 63.28px 12px 61.72px;
    justify-content: center;
    align-items: flex-start;
  
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: #b0b0b0;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .toggle-button.active {
    color: #f9a825; /* Texto anaranjado */
  }
  