/* MobileCarousel.css */
.carousel-wrapper {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: none;
}

.carousel-track {
  display: flex;
  flex-wrap: nowrap;
  height: 34rem;
}

.carousel-image {
  width: 18rem;
  height: 30rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease; /* ← animación suave */

}

.carousel-image:hover {
  width: 20rem;
  height: 28rem;

}