

.display__chats_page{
    height: 100%;
    display: block;
}

.chats__screen_container{
    
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}

.chats_preview__card{
    height: 80vh;
    margin: auto;
    width: 90%;
    max-width: 50rem;
}



.blur__container{
    position: absolute;
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1437816897/photo/business-woman-manager-or-human-resources-portrait-for-career-success-company-we-are-hiring.jpg?s=612x612&w=0&k=20&c=tyLvtzutRh22j9GqSGI33Z4HpIwv9vL_MZw_xOE19NQ=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(25px);
    z-index: -1;
}


.ad{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.display_logo{
    display: none;
}

@media screen and (width < 900px){
    .chats__screen_container{
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
}

.display_logo{
    display: block;
}

.blur__container{
    display: none;
}


.chats_preview__card{
    display: none;
}

.fixed{
    position: fixed;
    width: 100%;
}

.padding_top_chats{
    padding-top: 5rem;
}

}

