.nav-header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 5rem;
    padding-inline: 5rem;
    align-items:  center;

    
}

.nav-header img {
    width: 8rem;
    object-fit: contain;
}

.nav_icons {
    display: flex;
    gap: 1rem
}

.margin-inline {
    margin-inline: 5rem;
}

