*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.desk_nav {
    top: 0;
    left: 0;
    width: 80px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
    justify-content: space-between;
    padding: 3rem;

}

.icons-bottom{
    display: flex;
    flex-direction: column;
    gap:1.5rem
}

.icons-top{
    display: flex;
    flex-direction: column;
    gap:1.5rem
}

@media screen and (width < 1000px){
    .desk_nav{
        display: none;
    }
}