.nav {
    display: none;
    box-sizing: border-box;
    width: auto;
    background-color: #202020;
    justify-content: space-around;
    padding-inline: 1rem;
    padding-block: 1rem;
    margin-top: 1rem;
}

@media screen and (width < 900px){
    .nav {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}