*{;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}



.header_chat__container{
    height: fit-content;
    background-color: white;
    border: 1px solid var(--White-White-500, #D9D9D9);
    margin-bottom: 1rem;
    width: 35%;
    position: absolute;
}

.header_chat__content{
    display: flex;
    gap: 1.2rem;
    border: 1px solid var(--White-White-500, #D9D9D9);
    width: 100%;
    padding: 0.8rem;
    align-items: center;
    justify-content: space-between;

}

.header_chat_picture {
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: cover;
}

.header_chat__container h1{
    display: flex;
    flex: 1;
    margin: 0;
    color: var(--Black-Black-500, #202020);
    font-family: Outfit;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (width < 900px) {

    .header_chat__container{
    position: absolute;
    width: 100%;
    top: 122px
}
    
}